<p>
    <strong>Title:</strong>
    <%= @book.title %>
</p>
<p>
    <strong>Body:</strong>
    <%= @book.body %>
</p>

<p><%= @book.user.name %></p>

<% if @book.user == current_user %>
    <%= link_to "削除", book_path(@book), method: :delete %>
  <% end %>